<h1>Listing banners</h1>

<table style="width:100%; margin:20px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= banner.name %></td>
        <td><%= banner.url %></td>
        <td><%= image_tag banner.banner_image.url(:thumb) %></td>
        <td><%= link_to 'Show', admin_banner_path(banner) %></td>
        <td><%= link_to 'Edit', edit_admin_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', admin_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_admin_banner_path %>
