<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @banner.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @banner.position %>
</p>

<%= link_to 'Edit', edit_admin_banner_path(@banner) %> |
<%= link_to 'Back', admin_banners_path(@banner) %>
