    <div id="header_main">
		<div id="header">
			<div class="outsourse_people">
				<a href="#"><%= image_tag "outsorsing_people.png" %></a>
			</div>
			<ul class="mainMenu">
				<li ><span rel="#to_block1" class="program">Программа</span></li>
				<li ><span rel="#to_block2" class="price">Цены</span></li>
				<li ><span rel="#to_block3" class="registr"><b>Регистрация</b></span></li>
				<li ><span rel="#to_block4" class="contacts">Контакты</span></li>
				<li ><span rel="#to_block5" class="call">Заказ звонка</span></li>
			</ul>
		
			<div class="telephone">
				<span class="yellow_text"><b>Звоните!</b></span><br/>
				<span class="nomber">+38 063 702 3 703</span>
			</div>
		</div>
	</div>
	
	<div id="wrapper">   
	   
	   <div id="poster"> 
	   	<%= image_tag("image_1.png", :class => "first") %>
			<div class="poster_text_top">
				<%= image_tag "image_2.png" %>
				<span>С 09.06.2014 по 16.06.2014</span><br>
			</div>
			<div class="poster_text_bott"> 
				<p><span class="pervaya_yellow"><b>Первая</b></span> онлайн-конференция по бизнесу</p><br>
				<p>на аутсорсинге разработки ПО</p>
			</div>
	   </div>
	   
	   
	   <div id="inform">
			<div id="inform_left">
				<div id="information">
					<%= image_tag "images001.png" %>
				</div>
				<div id="people">
					<div class="people" style="margin-left:0">
						<%= image_tag("flag_us.png", :class => "flag") %>
						<%= image_tag("pr.jpg", :class => "imgpeople") %>
						<p>Спикер</p>
					</div>
					<div class="people">
						<%= image_tag("flag_ua.jpg", :class => "flag") %>
						<%= image_tag("pr.jpg", :class => "imgpeople") %>
						<p>Спикер</p>
					</div>
					<div class="people">
						<%= image_tag("flag_uk.png", :class => "flag") %>
						<%= image_tag("pr.jpg", :class => "imgpeople") %>
						<p>Спикер</p>
					</div>
					<div class="people">
						<%= image_tag("flag_pl.png", :class => "flag") %>
						<%= image_tag("pr.jpg", :class => "imgpeople") %>
						<p>Спикер</p>
					</div>
				</div>
			</div>
			
			<div id="inform_right">
				<div id="companies">
					
					<div class="companies">
						<p class="black">дней</p>
					    <p class="blue">7</p>
					</div>
					<div class="companies">
						<p class="black">компаний</p>
					    <p class="blue">200</p>
					</div>
					<div class="companies">
						<p class="black">докладa</p>
					    <p class="blue">32</p>
					</div>
				</div>
				<div id="timer">
					<h2>До завершения регистрации: </h2>
					<br><br>
					<script type="text/javascript" src="http://timegenerator.ru/s/b0438343e8c099b1617713a03cbed157.js"></script>
				</div>
			</div>
	   </div>
	   
	   
	   </div>
	  
	   
   </div>
   
	<div class="clear"></div>
	


    <div id="form_registr_main">
    	<div id="to_block3"></div>
		<div id="form_registr">
			<div class="registr_text">
				<p><span><b>Предварительная</b></span><br><span><b>регистpация</b></span></p>
			</div>
			
			<div class="registr_form">
				<%= image_tag "bg_form_registr.png" %>
				<form class="forma" name="" method="post" enctype="multipart/form-data">
                   <div><input type="text"  size="30" name="name" maxlength="20" placeholder="Имя" class="input_name"></div>
                   <div><input type="text"  size="30" name="email" maxlength="20" placeholder="Email" class="input_email"></div>
				   <div><input type="text"  size="30" name="phone" maxlength="20" placeholder="Телефон" class="input_telephone"></div>
				   <div><input type="submit" value="Зарегистрироваться"  size="30" maxlength="20" placeholder="Зарегистрироватся" class="submit"></div>
               </form>
               
				
			</div>
		</div>
	</div>
	
	<div id="sponsors">   
	   <%= image_tag "sponsors.png" %>
   </div>
   

 
<div class="ps_text_box ps_text_box_1_1">
	
	 <iframe src="//player.vimeo.com/video/81721441" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
   	  <div class="a_ref">Outsource People 2013 Kharkiv</div>
</div>
</div>




   

   <div id="block31">
	      <h2>Если вы на этой странице, то сейчас вы находитесь в одной из 4 категорий в аутсорсинг бизнесе:</h2>
	      <ul>
		    <li><%= image_tag "block313.jpg" %><p>Вы работаете в продажах или в маркетинге. Вы выполняете работу на достаточном уровне, но хочется действительно делать свою работу качественно и приносить ощутимую пользу своей компании.</p><div class="clear"></div></li>
	        
	        <li><%= image_tag "block312.jpg" %><p>Вы работаете как независимый профессионал-фрилансер, но вы уверены, что можно достигать большего не только все большим количествам часов работы, но и повышением навыков переговоров с заказчиком и правильным личным маркетингом.</p><div class="clear"></div></li>
	        <li><%= image_tag "block311.jpg" %><p>У вас уже есть свой бизнес, однако он до сих пор не запущен на полную мощность. Вам необходимо усилить продажи, потому что, того, что у вас есть сейчас вам явно не хватает. В вашей компании есть несколько сотрудников, и вам явно хочется большего.	</p><div class="clear"></div></li>
	        <li><%= image_tag "block314.jpg" %><p>Вы уже солидный владелец компании, и вы добились успехов. На протяжении своей карьеры, вы часто оказывались в ситуации, когда всего лишь 1 маленький штрих менял ваш бизнес с ног на голову и позволял выйти на ещё более высокий уровень доходов. Теперь, вы снова в поиске таких штрихов, чтобы покорить новые финансовые высоты в своём деле!</p><div class="clear"></div></li>
	      </ul>
	    </div>

   <div id="programma">
    	<div id="to_block1"></div>
   
   
		<p class="text_pr">Программа</p>
		
		
		


    <% @days.each_with_index do |d,k| %> 

	        <div class="program_date">
			    <%= image_tag "image_3" %>
				<p><%= d.day.to_s %> июня, <%= @days_of_week[k] %></p>
			</div>
			<div id="program1">
		<% @speakers.each_with_index do |s, j| %>
		 <% if d == s.speech_day %>
          <div class="post<%= k + 1 %>" name="people<%= j + 1 %>" >
				<div class="post_head  <%= s.my_class %>" >
					<p><%= s.speech_time %></p>
					
				</div>
				<div class="people_inform">
					<span><%= s.speech_title %><br></span><br>
					<%= image_tag(s.avatar.url(:thumb), :class => "avatar") %>
					<p class="black_name_text"><%= s.first_name %> <%= s.last_name %></p><br>
					<p class="company_position"><%=s.position%></p>
				</div>
			</div>
			<% end %>
          <% end %>
        
    	</div>
		
		
		<% @speakers.each_with_index do |s, i| %>
		  <% if d == s.speech_day %>
			<div name="people<%= i + 1 %>" class="blocInform_1 peolpebl<%= k + 1 %>">
				<div class="Photo1">
					<%= image_tag s.avatar.url(:medium) %>
				</div>
				<div class="informAbout" name="info1"> 
					<span><%= s.speech_title %></span>
					<p>
					<%= s.speech_description %>
					</p>
				</div>
				<div class="informAbout" name="info2"> 
					<span><%= s.first_name %> <%= s.last_name %></span>
					<p>
					<%= s.speaker_description %> 
					</p>
				</div>
				<div class="detailsInformatoin">
					<span name="info1">Доклад</span>
					<div class="clear"></div>
					<span name="info2">О докладчике</span>
				</div>
				<div class="clear"></div>
				<div class="closeBlock">
					<%= image_tag "batton_closeBlock.png" %> 
				</div>
			</div>
		<% end %>
		<% end %>


		<% if k == 1 %>
		    <div class="ref">
		   	   <div class="ref1"></div>
		   	   <div class="ref2">
		   	      <%= image_tag "people3.jpg" %>
		   	   	  <p>
		   	   	  			    На фоні загального депресняку, що охопив країну через футбольні та геополітичні негаразди, айтішники виглядають повними неадекватами - світовий ринок ІТ росте шаленими темпами і єдине питання в тому, хто відкриє рота ширше і відкусить від нього шмат побільше. Обідня перерва на Outsourcing People in Kharkiv в черговий раз засвідчила, що Україна таки має таланти і все у нас буде добре ;).  
		   	   	  </p>
		   	   	  <div class="a_ref">Роман Хмиль <span>COO @ Ciklum</span></div>	
		   	   </div>
		   	   <div class="ref3"></div>
		   </div>
		<% end %>
		<% if k == 5 %>
		    <div class="poster_afterparty">
			  <%= image_tag "afterparty.jpg" %>
		    </div>
		<% end %>
		
	<% end %>
		<!--_______________________________________________________________________-->

		
		<!--_______________________________________________________________________-->
    	
		
		
		<!--_______________________________________________________________________-->
		
		
		
		<!--_______________________________________________________________________-->
		
		
		
		<!--_______________________________________________________________________-->
		




		
		
		
		
	<div id="block32">
      <h2>5 причин посетить конференцию</h2>
      <table>
        <tbody><tr>
          <td class="td_img"><%= image_tag "cause1.jpg" %></td>
          <td>
            <p><span class="special">1.  Получение передовых идей бизнеса в аутсорсинге, приносящих результат сейчас</span></p>
            <p>Вы получите самые эффективные инструменты для развития вашей компании. </p>
            <p>И вы сможете тут же внедрить эти инструменты в практику, сделав мощнейший рывок вперёд по всем показателям.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="special">2.  Знакомство с профессионалами отрасли и создание партнёрств прямо в зале</span><!--р-->
            </p><p>На конференции такого уровня приезжают очень много звёзд аутсорсинг бизнеса, которые доминируют самые различные ниши. Одно общение с ними позитивно скажется на вашем прогрессе, плюс, вполне возможно, вы сможете договориться о выгодном партнёрстве с людьми в зале и совместно выстроить сотрудничество. </p>
            <p>Это происходит постоянно на каждой нашей конференции. </p>
          </td>
          <td class="td_img"><%= image_tag "cause2.jpg" %></td>
        </tr>
        <tr>
          <td class="td_img"><%= image_tag "cause3.jpg" %></td>
          <td>
            <p><span class="special">3.  Неформальное общение во время вкусного обеда и на кофебрейках</span></p>
            <p>Одно дело - слушать специалистов во время докладов или читать про них на информационных сайтах. Другое дело - находиться с ними на расстоянии вытянутой руки и получать от них самую свежую информацию во время конференци.</p>
            <p>Более того, вы сможете лично пообщаться с каждым их выступающих индивидуально, задать свои вопросы и получить конкретные наставления.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><span class="special">4. На заметку: мировой пирог IT рынка ежегодно растет на 30-40%, и от ваших знаний и усилий зависит его часть</span></p>
            <p>Даже просто оставаясь на месте, скорей всего вы будете расти. Представьте, сколько новых идей вы сможете воплотить для расширения своего бизнеса, вооружившись информацией и энергией с конференции.</p>
            <p>Представьте, каких результатов вы достигнуте за год. Конференция  проводится нами в конце года специально, чтобы после нее вы смогли в следующем году применить как можно больше данных!</p>
          </td>
          <td class="td_img"><%= image_tag "cause4.jpg" %></td>
        </tr>
        <tr>
          <td class="td_img"><%= image_tag "cause5.jpg" %></td>
          <td>
            <p><span class="special">5.  Инвестиции в себя и своих сотрудников</span></p>
            <p>Часто бывает сложно уделить время в пылу текучки тактике и стратегии.<br>Вы выделите специальное время, которое безотрывно посвятите, возможно, самому важному для вашего дальнейшего развития. Все в одном месте и будет дано в сжатый промежуток.</p>
          </td>
        </tr>
      </tbody></table>
    </div>
   
	</div>	
	
